[Unit]
Description=Tracking System
Requires=network-online.target
After=network.target network-online.target multi-user.target

[Service]
User=root
Type=simple
Restart=on-abort
PIDFile=/tmp/trackingsystem.pid
ExecStart=/root/.nvm/versions/node/v12.13.1/bin/node "/var/www/html/trackingsystem/parseador/trackingsystem.js" &
Environment="NVM_DIR=/root/.nvm" "PATH=$NVM_DIR/versions/node/v12.13.1/bin:$PATH"

[Install]
WantedBy=multi-user.target
